/* Accordion.module.css */
.accordion {
    width: 600px;
    margin: 20px;
}

.accordion h1 {
    font-size: 20px;
    margin: 10px 0;
}

.accordionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #cec7cb;
}

.itemTitle {
    cursor: pointer;
    font-weight: 600;
    padding: 10px 0;
}

.toggle {
    font-weight: 600;
    font-size: 24px;
    color: #ff0486;
}

.itemContent {
    flex: 0 0 100%;
}

.hidden {
    display: none !important;
}